
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white
  }
  
  /* Header*/
  header {
        background-color: black; 
        color:white; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 15px 40px; 
      
        border-bottom: 2px solid white; 
      }
      
  
  header .logo {
    font-weight: bold;
    font-size: 18px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Huvudinnehåll */
  .container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: calc(100vh - 70px);
  }
  
  .image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    background-color: black;
  }
  
  .text {
    margin-left: 50px;
  }
  
  .text h1 {
    font-size: 28px;
    font-weight: bold;
  }
  
  .text p {
    margin-top: 10px;
    color: #333;
  }

  .image-box {
    width: 800px;              
    height: 660px;
    background-color: black;    
    border-width: 100%;       
    display: flex;              
    justify-content: center;
    align-items: center;
  }
  
  .image-box img {
    width: 350px;            
    height: 350px;
    border: 50%;         
    object-fit: cover;      
  }
  
  